@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

$primary-color: #16a34a;

// max-width de desktop pra pra mobile e min-width do mobile pra desktop
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  border-bottom: solid 2px #b4aeae;
  margin: 0 30px;
  @media (max-width: 1024px) {
    // border: solid 2px red;
    margin: 0 15px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    gap: 15px;
    margin: 15px;
  }
  div {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-around;
    // border: solid 2px green;
    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
      gap: 10px;
    }
    h1 {
      font-size: 2.5rem;
      color: #1f2937;
      @media (max-width: 1024px) {
        font-size: 2rem;
      }
      @media (max-width: 768px) {
        font-size: 1.8rem;
      }
    }
  }
}

.navbar {
  // border: solid 2px green;
  // border: solid 2px green;
  width: 40%;

  @media (max-width: 1024px) {
    width: 55%;
  }
  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 10px;
  }
  ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1024px) {
      gap: 15px;
    }
    @media (max-width: 768px) {
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
    }

    li {
      height: 8vh;
      display: flex;
      align-items: center;
      justify-content: center;
      // @media (max-width: 768px) {
      //   height: auto;
      //   padding: 5px 0;
      // }
      a {
        color: #4b5563;
        font-size: 1rem;
        font-weight: 400;
        @media (max-width: 1024px) {
          font-size: 0.9rem;
        }
        @media (max-width: 768px) {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.btnverde {
  background-color: #21c05c;
  height: 10vh;
  width: 28%;
  border-radius: 6px;
  @media (max-width: 1024px) {
    width: 35%;
  }
  @media (max-width: 390px) {
    width: 50%;
  }

  .link {
    color: white;
  }
}

.primeiraSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

    @media (max-width: 768px) {
      width: 90%;
    }
    h2 {
      font-size: 60px;
      width: 90%;
      color: #1f2937;
      @media (max-width: 1024px) {
        font-size: 2.5rem;
      }
      @media (max-width: 768px) {
        font-size: 2rem;
        width: 100%;
      }
      @media (max-width: 480px) {
        font-size: 1.6rem;
      }
    }
    p {
      font-size: 20px;
      width: 90%;
      color: #4b5563;

      @media (max-width: 1024px) {
        font-size: 1rem;
        width: 80%;
      }
      @media (max-width: 768px) {
        width: 90%;
      }
      @media (max-width: 480px) {
        font-size: 0.9rem;
      }
    }
  }
  .imgPrincipal {
    @media (max-width: 1040px) {
      width: 40%;
    }
  }
}

.BoxBtn {
  width: 90%;
  display: flex;
  gap: 50px;
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 10px;
  }
  button {
    border: none;
    padding: 15px 40px;
    border: solid 2px #2563eb;
    display: flex;
    align-items: center;
    border-radius: 6px;
    color: #2563eb;
    gap: 5px;
    @media (max-width: 768px) {
      width: 50%;
      height: 58px;
      font-size: 1rem;
      justify-content: center;
    }
    @media (max-width: 480px) {
      width: 90%;
      font-size: 0.9rem;
    }
  }
  .btnVerde {
    background-color: $primary-color;
    color: white;
    border: none;
  }
}

.dadosNumericos {
  height: 20vh;
  background-color: #f3f5f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 230px) {
    flex-wrap: wrap;
  }
  div {
    text-align: center;
    h2 {
      color: $primary-color;
      font-size: 2.5rem;
      @media (max-width: 420px) {
        font-size: 1.5rem;
      }
    }
    p {
      color: #4b5563;
      @media (max-width: 420px) {
        font-size: 0.9rem;
      }
    }
  }
}

// @media (max-width: 720px) {
//   header {
//   }
// }
// @media (min-width: ) {
// }

// @media (min-width: 700px) and (max-width: 400px) {
//   header {
//   color: white;
//   }
// }
